@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<html>

<head>
    <title>REZERVASYON</title>
</head>

<body>

    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <div class="container BodyContainer">
        <div class="row">
            <div class="col-md-12 border border-dark h-25 rezervasyonBirMesaj">REZERVASYON İŞLEMİNİZ BAŞARIYLA TAMAMLANMIŞTIR.</div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12 border border-dark h-25 rezervasyonİkiMesaj">REZERVASYONUNUZ ŞUANDA ONAY BEKLEMEKTEDİR.ONAY İŞLEMİ TAMAMLANINCA E-POSTA İLE BİLGİLENDİRİLECEKSİNİZ.BİZİ TERCİH ETTİĞİNİZ İÇİN TEŞEKKÜR EDİYORUZ.</div>
        </div>

    </div>

</body>
</html>