
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>

<head>
    <title>HAKKIMIZDA</title>
</head>

<body>

    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <div class="container BodyContainer">

        <div class="row">
            <div class="col-md-8">
                <div class="w-100 hakkimizdaBaslik">Hakkımızda</div>
                <div class="w-100 hakkimizdaIcerik">
                    <p>
                        Rent A Car Sitesi;<br><br>

                        Yurt dışından gelen ve yurt içindeki müşterilerimize kolaylık ve ayrıcalıklar sağlamakta olup, havalimanina ücretsiz araç teslimi ve alımı yapmaktadır.<br><br>

                        Ekonomik sınıftan lüx sınıfa kadar birçok otomobil, VİP ve Suv araçlarıyla sizlere en iyi kiralama hizmetini verebilmek için yoğun ve titiz bir şekilde çalışmaktadır.<br><br>

                        Kiraladığınız her tür marka araçlarımız için tecrübeli ve profesyonel şoförleriyle de sizlere en kaliteli ve güvenilir hizmeti vermektedir.<br><br>

                        Yurt içi ve Yurt dışından gelen müşterilerimize transfer ayrıcalığı da sunmaktadır.<br><br>

                        Rezervasyon sayfamızdan otomobillerin özelliklerini, fiyatlarını inceleyebilir ve kiralama ile ilgili ayrıntılı bilgilere ulaşabilirsiniz.<br><br>

                        Siz değerli müşterilerimize kaliteli, konforlu ve güvenilir hizmeti sağlamak için hassasiyetle çalışmaktadır.
                    </p>
                </div>
            </div>


            <div class="col-md-4">
                <figure>
                    <img src="/img/information.png" class="w-100 h-100" />
                </figure>
            </div>

        </div>
    </div>
</body>
</html>