@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <title>İLETİŞİM</title>
</head>

<body>

    <div class="loader-container">
        <div class="loader"></div>
    </div>


    <div class="container BodyContainer">

        <div class="row">
            <div class="col-md-12 iletisimForm">
                <h2><b>İLETİŞİM FORMU</b></h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 iletisimDiv">

                <div class="iletisim">
                    <form method="post" asp-controller="User" asp-action="ContUpdate" class="was-validated">
                        <div class="form-group">
                            <input id="adSoyad" class="form-control" placeholder="AD-SOYAD" pattern="[A-Za-zğüışöçZĞÜİŞÖÇ ]*" required="" name="name" />
                        </div>
                        <br>
                        <div class="form-group">
                            <input id="ePosta" type="email" class="form-control" placeholder="E-POSTA" required="" name="mail" />
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea id="mesaj" cols="15" rows="7" class="form-control" placeholder="MESAJ" required="" name="content"></textarea>
                        </div>
                        <br>

                        <button type="submit" class="btn w-100">GÖNDER</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>