@model Entities.Concrete.News
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>

<head>
    <title>HABERLER</title>
</head>

<body>

    <div class="loader-container">
        <div class="loader"></div>
    </div>

    <div class="container BodyContainer w-100">


        <div class="row">
            <div class="col-md-12 haberbaslik">@Model.Title</div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 haberIcerik">@Model.Contents</div>
        </div>
    </div>

</body>
</html>